.btn-logout {
    color: #fff;
    width: 80% !important;
    background: #e44d26;
    background: -webkit-linear-gradient(to right, #f16529, #e44d26);
    background: linear-gradient(to right, #f16529, #e44d26);
    margin-bottom: 20px;
    margin-top: 5px;
}
