.login {
    display: flex;
}

.container {
    background-color: #ff4500;
    width: 400px;
    margin: 200px auto;
    color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.container h1 {
    padding-bottom: 12px;
}

.container span {
    font-size: 18px;
    font-weight: 600;
}

.container p {
    margin-top: 16px;
    font-size: 22px;
}

button {
    background-color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #ff4500;
    cursor: pointer;
    transition: transform 0.2s linear;
}

button:hover {
    transform: scale(0.9);
}
