* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.carousel {
    position: relative;
    overflow: hidden;
}
.carousel .carousel-inner {
    display: flex;
    transition: translate 0.3 ease;
}
.carousel .carousel-inner > * {
    flex-shrink: 0;
    width: 100%;
}
.carousel .carousel-nav span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    background: gray;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}
.carousel .carousel-nav span.prev {
    left: 5px;
}
.carousel .carousel-nav span.next {
    right: 5px;
}

/* For JS */
.circle-block {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    column-gap: 25px;
}
.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 99px;
}

.circle-block .circle.active {
    background: rgba(255, 115, 0, 0.895);
}
