@tailwind base;
@tailwind utilities;
@tailwind components;

.custom-toast {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px;
}

.custom-body-toast {
    font-style: inherit;
}

.custom-progress {
    background-color: #00ff00;
}
.custom-progress-error {
    background-color: #f43535;
}
