/* Reset and Global Styles */
* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%; /* Set base font size to 10px */
}

body {
    font-size: 1.6rem; /* Equivalent to 16px */
    font-family: "Poppins", sans-serif; /* Use Poppins font */
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* Player Styles */
.player {
    display: flex;
    height: 100vh; /* Full viewport height */
    background-color: #4159d0;
    background-image: linear-gradient(
        45deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}

.box-player {
    margin: auto;
    background: #130251cc;
    width: 350px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 3px #ffffff6f;
    color: #fff;
}

.header {
    margin-bottom: 20px;
}

.current-song {
    font-size: 12px;
}

.name-song {
    margin-top: 10px;
    font-size: 30px;
}

.artist {
    margin-top: 10px;
    display: block;
}

/* Disk Animation */
.disk {
    margin-top: 12px;
}

.disk-inner {
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border-radius: 999px;
    overflow: hidden;
    border: 5px solid #0d286d;
    animation: rotate 20s linear infinite;
    animation-play-state: paused; /* Initially paused */
}

.picture {
    width: 100%;
}

/* Seek Bar */
.seek-bar {
    margin-top: 30px;
}

.play-timer {
    gap: 10px;
    margin-top: 10px;
}

.progress-bar {
    width: 100%;
    position: relative;
    height: 10px;
    background: gray;
    border-radius: 10px;
    cursor: pointer;
}

.progress-bar:hover {
    background: rgba(16, 202, 248, 0.736);
}

.progress-bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #cd6255;
    border-radius: 10px;
}

.progress-bar .progress span {
    position: absolute;
    top: -1px;
    right: -6px;
    display: block;
    width: 12px;
    height: 12px;
    background: rgb(255, 150, 2);
    border-radius: 50%;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* Controls */
.control {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 15px;
}

.previous,
.next {
    background: #cd6255;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    color: #fff;
    cursor: pointer;
}

.play {
    background: #cd6255;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    cursor: pointer;
}

.play .fa-solid {
    font-size: 2rem;
    color: #fff;
    padding: 20px;
}

/* Karaoke Display */
.karaoke-btn {
    margin-top: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: #fffc32;
    cursor: pointer;
    font-weight: 600;
}
.karaoke-btn:hover {
    opacity: 0.8;
}
.lyrics-container {
    background: #892be2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.lyrics-header {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-top: 20px;
    height: 20vh;
}
.lyrics-header h1 {
    font-size: 4.8rem;
    font-weight: 800;
    color: #fff;
}
.close-btn {
    color: #fff;
}

.lyrics-header i {
    font-size: 3rem;
}
.lyrics-header i:hover {
    color: #fffc32;
}
.lyrics-inner {
    height: 80vh;
}
.lyrics {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.8rem;
    font-weight: 700;
    gap: 50px;
}
.line-1 {
    color: #fff;
}

.line-2 {
    color: #fff;
}

/* Keyframes */
@keyframes pulse {
    0% {
        box-shadow: 0;
    }
    50% {
        box-shadow: 0 0 0 5px rgba(16, 53, 123, 0.1);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(16, 53, 123, 0.8);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* For JS */
.disk-inner.play {
    animation-play-state: running;
    height: 250px;
    width: 250px;
}

/* Additional Styles for Karaoke 2 */
/* Feel free to add more styles specific to Karaoke 2 */
