* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #ffdee9;
    background-image: linear-gradient(90deg, #ffdee9 0%, #b5fffc 100%);
    padding: 0 35px 0;
}

.item {
    display: flex;
    padding: 17px 0 17px;
    border-bottom: 1px solid #ccc;
}

.item:nth-child(even) {
    flex-direction: row-reverse;
}

.item:last-child {
    border: none;
}

.item:nth-child(even) .image {
    margin-left: 3rem;
}

.item:nth-child(even) .content {
    margin-left: 0;
}

.image {
    width: 28rem;
    height: 100%;
    padding: 5px 0;
    border-radius: 5px;
    object-fit: cover;
    object-position: center center;
}
.content {
    margin-left: 3rem;
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 20px;
}

.desc {
    font-size: 1.6rem;
    margin-top: 20px;
    text-align: justify;
}
