* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}
.container {
    height: 100vh;
    padding: 30px 50px;
    background: #00507b;
}
h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
}
#search-form {
    width: 30%;
    margin: 0 auto;
    position: relative;
}
#search-form input {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 50px 10px 15px;
    border: 2px solid #6bb1e6;
    border-radius: 8px;
}
#search-form button {
    position: absolute;
    width: 35px;
    top: 0;
    right: 10px;
    bottom: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

#search-form button i {
    font-size: 1.8rem;
}

/* For JS */
.status {
    display: none;
    margin-top: 50px;
}
h2 {
    text-align: center;
}
.status-indicator {
    background: red;
    width: 70px;
    height: 70px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.status.show {
    display: block;
    color: #fff;
}
.status-indicator i {
    color: #fff;
    font-size: 3rem;
}
@keyframes affect {
    0% {
        scale: 1.2;
    }
    25% {
        scale: 1.4;
    }
    50% {
        scale: 1.6;
    }
    75% {
        scale: 1.4;
    }
    100% {
        scale: 1.2;
    }
}
.status-indicator {
    animation: affect 1s linear infinite;
}
